@model List<UsuarioMedico>

@{
    ViewData["Title"] = "Médicos";
}

@section Banner {
    <div class="alert alert-info text-center">
        Cadastro de novos médicos.
    </div>
}

<h1>Médicos</h1>

<mensagem texto="@TempData["msg"]" class="alert alert-danger"></mensagem>

<a asp-action="cadastrar" class="btn btn-sm btn-outline-danger">Cadastrar</a>

<table class="table">
    <tr>
        <th>Nome do médico</th>
        <th>Especialidade</th>
        <th>CRM</th>
        <th>CPF</th>
        <th>Data de nascimento</th>
        <th>Gênero</th>
        <th>Endereço</th>
        <th>Telefone</th>
        <th>Email</th>
    </tr>
    @foreach(var m in Model)
    {
        <tr>
            <td>@m.NomeMedico</td>
            <td>@m.Especialidade</td>
            <td>@m.Crm</td>
            <td>@m.Cpf</td>
            <td>@m.DtNascimento</td>
            <td>@m.Genero</td>
            <td>@m.Endereco</td>
            <td>@m.Telefone</td>
            <td>@m.Email</td>
            <td>
                <!--Link que envia o ID do carro que será atualizado-->
                <a asp-action="editar" class="btn btn-sm btn-outline-primary"
                    asp-route-id="@m.IdMedico">Editar</a>
                <!-- Button trigger modal -->
                <button onclick="medicoId.value = @m.IdMedico" type="button" class="btn btn-sm btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                  Remover
                </button>
            </td>
        </tr>
    }
</table>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirmação</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Deseja realmente apagar o médico?
      </div>
      <div class="modal-footer">
        <form asp-action="remover">
            <input name="id" type="hidden" id="medicoId"/>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não</button>
            <button type="submit" class="btn btn-danger">Sim</button>
        </form>
      </div>
    </div>
  </div>
</div>
