@model List<Ficha>

@{
    ViewData["Title"] = "Fichas";
}

@section Banner {
    <div class="alert alert-info text-center">
        Cadastro de novas fichas.
    </div>
}

<h1>Fichas</h1>

<mensagem texto="@TempData["msg"]" class="alert alert-danger"></mensagem>

<a asp-action="cadastrar" class="btn btn-sm btn-outline-danger">Cadastrar</a>

<table class="table">
    <tr>
        <th>Sintomas Atuais</th>
        <th>Medicamentos em uso</th>
        <th>Alergias</th>
        <th>Peso</th>
        <th>Altura</th>
        <th>Observacoes</th>
    </tr>
    @foreach(var f in Model)
    {
        <tr>
            <td>@f.SintomasAtuais</td>
            <td>@f.MedicamentosUso</td>
            <td>@f.Alergias</td>
            <td>@f.Peso</td>
            <td>@f.Altura</td>
            <td>@f.Observacoes</td>
            <td>
                <a asp-action="editar" class="btn btn-sm btn-outline-primary"
                    asp-route-id="@f.IdFicha">Editar</a>
                <button onclick="fichaId.value = @f.IdFicha" type="button" class="btn btn-sm btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                  Remover
                </button>
            </td>
        </tr>
    }
</table>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirmação</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Deseja realmente apagar a ficha do paciente?
      </div>
      <div class="modal-footer">
        <form asp-action="remover">
                    <input name="id" type="hidden" id="fichaId" />
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não</button>
            <button type="submit" class="btn btn-danger">Sim</button>
        </form>
      </div>
    </div>
  </div>
</div>
